modules = ["nodejs-23"]
run = "cd www && npm start"
compile = "cd rust-wasm && wasm-pack build"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80

[env]
NODE_OPTIONS = "--openssl-legacy-provider"

[languages.javascript]
pattern = "**/*.js"

[languages.rust]
pattern = "**/*.rs"

[workflows]

[[workflows.workflow]]
name = "Build WASM"
mode = "sequential"
author = 403743

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd rust-wasm && wasm-pack build"
